<?xml version="1.0" encoding="utf-8" ?>

  
  <!-- STRING DE CONEXION REMOTO A ALTAIRSERVER -->
  <!--<connectionStrings>
    <add name="ProyectoresEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=franco-rog\altairsql;initial catalog=Proyectores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->  
  
  
 <!-- STRING DE CONEXION LOCAL -->

<connectionStrings>
  <add name="ProyectoresModelEntities" connectionString="metadata=res://*/Model.ProyectoresModel.csdl|res://*/Model.ProyectoresModel.ssdl|res://*/Model.ProyectoresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Franco-rog\altairsql;initial catalog=Proyectores;persist security info=True;user id=Proyectores;password=hipermegared;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>


  <!--<connectionStrings>
    <add name="ProyectoresEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=franco-rog\altairsql;initial catalog=Proyectores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

<!--Data Source=Franco-rog\altairsql;Initial Catalog=Proyectores;Persist Security Info=True;User ID=Proyectores;Password=***********-->





